header {
    height: 15vh;
    background-color: #495867;
    color: #F7F7FF;
    align-items: center;
}

header h1 {
    font-size: 3.5rem;
}

nav {
    padding: 40px;
}

ul {
    border: none;
}

main {
    padding: 50px;
    background-image: linear-gradient(to left bottom, #fe7a71, #fe85a5, #ec9acf, #d3b0e9, #bec3f1, #afbfe5, #a5bad7, #9eb4c8, #889caf, #728596, #5d6e7e, #495867);
    height: 77vh;
    color: black
}

main img {
    height: 200px;
}

#about-me {
    font-size: 1.5rem;
    margin-right: 15vw;
}

a.nav-link {
    color: #F7F7FF;
    font-size: 1.5rem
}

li.nav-pills .nav-link.active {
    background-color: #BDD5EA;
    color: #495867;
    transition: .5s
}

a.nav-link:hover {
    background-color: #FE7a71;
    color: #F7F7FF
}

li.nav-pills:hover {
    cursor: pointer;
}

h6 {
    margin: 50vh 0;
}

footer {
    height: 8vh
}

#contact-container {
    margin: 0 15vw;
}

#projects-container > div {
    position: relative;
    display: inline-block;
    text-shadow: 0px 0px 20px #070c14;
    margin: 3vh 4vh;
}
#projects-container > div:before {
    content:"";
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.28);
    position:absolute;
    top:0;
    left:0;
    transition: 0.3s
}

#projects-container > div:hover:before {
    content:"";
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.50);
    position:absolute;
    top:0;
    left:0;
    transition: 0.3s
} 

#projects-container h2 {
    margin-top: 8vh;
    display: inline-block;
}
#projects-container h2:hover {
    cursor: pointer;
}

.card-img-overlay h6:hover {
    cursor: pointer;
}

#proficiencies > * {
    margin: 20px 0
}
#proficiencies a {
    text-decoration: none;
}

footer img {
    width: 75px;
    height: auto;
    cursor: pointer;
}